.main{
    display: grid;
    grid-row:2;
    grid-column: span 2;
    grid-template-rows: 1fr;
    grid-template-columns: 350px 1fr 350px;
}


@media (max-width: 990px) {
    .main{
        display: grid;
        grid-row:2;
        grid-column: span 2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}