:root{ 
    --llb-blue: #007EC6;
    --llb-lightblue: #00B5E5;
    --llb-green: #63B32E;
    --llb-orange: #E9530D;
    --llb-grey: #575656;        
}

.app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
        font-family: "Open Sans", sans-serif;
}

.page-title{
    line-height: 1.5;
    padding: 15px;
    border-left: 5px solid var(--llb-blue);
    background-color: var(--llb-grey);
    margin: 20px 20px 10px 20px;
    font-size: 1.5em;
    color:white;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr auto;

}
.page-descr{
    margin: 20px 40px 10px 40px;
    line-height: 1.5;
}

.note-warning{
    padding: 15px;
    background-color: #ffebcf;
    margin: 20px 70px 20px 70px;
    border-left: 5px solid #d07001;
}
.note-useful{
    padding: 15px;
    background-color: #ebf4ff;
    margin: 20px 40px 20px 40px;
    border-top: 5px solid #297dba;   
    color: #002e50;
}
.internal-link{
    font-weight: bold;
    color: var(--llb-blue);
    text-decoration: none;
}
.internal-link:hover{
    text-decoration: underline;
}
.download-link{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: var(--llb-blue);
    padding: 10px;
    font-size:0.5em;
    text-transform: none;
    right: 0;
        transition: 200ms;
}
.download-link::before{
    content: '\f019';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    display: inline-block;
    width: 1.5em;
}
.download-link:hover{
    border-right: 5px solid var(--llb-blue);
    background-color: var(--llb-lightblue);
    transition: 200ms;
}

/*------Nav for Persona and ModelContext------*/
.nav{
    display: grid;
    grid-template-columns: 1fr   1fr;
    grid-template-rows: auto auto;
    margin: 35px 20px 10px 20px;
}
.nav p{
    color:grey;
    margin: 0;
    font-size: 0.9em;
}
.nav a{
    color: var(--llb-blue);
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
}
.nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav .prev{
    text-align: right;
    grid-column: 1;
    border-right: 2px solid lightgrey;
    padding: 10px 30px 10px 00px;
}
.nav .next{
    text-align: left;
    grid-column: 2;
    border-left: 2px solid lightgrey;
    padding: 10px 10px 10px 30px;
}
.nav .intro{
    text-align: center;
    grid-column: 1/3;
    padding: 10px 30px 10px 30px;
    margin: 0;
    grid-row: 2;
}

@media (max-width: 990px) {
    .app{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr;
    }
    
    .page-title{
        line-height: 1;
        padding: 10px;
        background-color: var(--llb-grey);
        margin: 20px 20px 10px 20px;
        font-size: 1em;
        text-transform: uppercase;
        color:white;
        font-family: "Open Sans", sans-serif;
        display: grid;
        grid-template-columns: 1fr auto;
    }
    
    .page-descr{
        margin: 20px 20px 10px 20px;
        line-height: 1.5;
        font-size: 0.7em;
    }

    .note-warning{
        padding: 10px;
        background-color: #ffebcf;
        margin: 20px 20px 20px 20px;
        border-left: 5px solid #d07001;
        font-size: 0.7em;
    }
    .note-useful{
        padding: 10px;
        background-color: #ebf4ff;
        margin: 20px 20px 20px 20px;
        border-top: 5px solid #297dba;   
        color: #002e50;
        font-size: 0.7em;
    }
    .download-link{
        display: flex;
        align-items: center;
        font-weight: bold;
        color: white;
        text-decoration: none;
        background-color: #333333;
        padding: 5px;
        font-size: 0.4em;
        text-transform: none;
        right: 0;
    }
}